{% render 'shogun-products', content: article %}
<div class="powr-form-builder" id="e5aae299_1599657938"></div> <!-- /templates/article.liquid -->
{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}

{% section 'article-template' %}
