<!-- /templates/index.liquid -->

<div class="index-sections" data-sections-wrapper>
	<div class="shopify-section index-section index-slideshow-section shopify-section--full-width intro-index-section">
      <div class="init-intro-statement" id="test">
        Secure Your Home The Smart Way
      </div>
      <div class="index-scroll-parent">
        <div class="index-scroll-child index-scroll-child-1">
          <div class="bundle-name">
            <div>Super Lux Bundle</div>
            <div>Starting at $59.99/mo</div>
          </div>
          <a href="https://www.mindhome.co/products/smart-super-luxury-bundle">
            <div class="bundle-bttn">View Bundle</div>
          </a>
        </div>
        <div class="index-scroll-child index-scroll-child-2">
          <div class="bundle-name">
            <div>Health and Wellness Bundle</div>
            <div>Starting at $39.99/mo</div>
          </div>
          <a href="https://www.mindhome.co/products/mindhome-health-and-wellness-bundles">
          	<div class="bundle-bttn">View Bundle</div>
          </a>
        </div>
        <div class="index-scroll-child index-scroll-child-3">
          <div class="bundle-name">
            <div>Robot Bundle</div>
            <div>Starting at $99.99/mo</div>
          </div>
          <a href="https://www.mindhome.co/products/robo-bundle">
          	<div class="bundle-bttn">View Bundle</div>
          </a>
        </div>
        <div class="index-scroll-child index-scroll-child-4">
          <div class="bundle-name">
            <div>Water & Fire Bundle</div>
            <div>Starting at $29.99</div>
          </div>
          <a href="https://www.mindhome.co/products/starter">
            <div class="bundle-bttn">View Bundle</div>
          </a>
        </div>
        <div class="index-scroll-child index-scroll-child-1">
          <div class="bundle-name">
            <div>Super Lux Bundle</div>
            <div>Starting at $59.55</div>
          </div>
          <a href="https://www.mindhome.co/products/smart-super-luxury-bundle">
          	<div class="bundle-bttn">View Bundle</div>
          </a>
        </div>
      </div>
	</div>
  	<div class="index-section index-section-1">
      <div>
        <b>
          Your safer, smarter home starts here
        </b>
      </div>
      <div>
        And Guarunteed Insurance Saving Means Your Mindhome Pays For Itself
      </div>
<!--       <a href="https://www.mindhome.co/pages/savings-calculator-1"> -->
      	<div class="savings-bttn">Calculate Your Savings</div>
<!--       </a> -->
  	</div>
  	<div class="index-section index-section-2">
      <div class="home-logo">
      </div>
      <div class="main-title">
        MINDHOME IS THE FIRST ROBOTIC HOME, THE NEXT GEN IN AUTOMATION
      </div>
      <div class="info-row">
        <div class="info-box" id="box1">
          <div class="info-box-image">
            <div class="info-box-shade boxShade" id="boxOneShade">
              <div class="boxWord" id="boxOneWord">Universal Agent</div>
            </div>
          </div>
          <div class="info-box-content">
            <div>
              Your universal agent.
            </div>
            <div>
              Mindhome is your digital realtor, insurance agent, mortgage loan officer, and more. We roll up all of the financial services connected to your home to save you more and offset the costs of your robotic smart home.
            </div>
          </div>
        </div>
        <div class="info-box info-full-box" id="box4">
          <div class="info-box-shade boxShade" id="boxFourShade">
            <div class="boxWord" id="boxFourWord">Entertainment</div>
          </div>
          <div class="box-title-left">
            Stay entertained.
          </div>
          <div class="box-content-left">
            Mindhome plugs into all your major media apps as well as audio and visual equipment including major brands like Sonos, Spotify, Roku, Googlecast and so many others. It also features the largest array of color wireless light bulbs and offers a computer-generated hologram table to capture family memories in the most realistic format ever.
          </div>
        </div>
        <div class="info-box" id="box2">
          <div class="info-box-content">
            <div>
              Manage Everything.
            </div>
            <div>
              Mindhome manages all of the day-to-day and long term maintenance needs for your home. On the daily side, our systems communicate to you and us about any water or fire emergencies and handle them in real time. Long term we manage your HVAC, water and power systems as well as your roofing and all other structural home needs.  
            </div>
          </div>
          <div class="info-box-image">
            <div class="info-box-shade boxShade" id="boxTwoShade">
              <div class="boxWord" id="boxTwoWord">Management</div>
            </div>
          </div>
        </div>
        <div class="info-box" id="box3">
          <div class="info-box-image">
            <div class="info-box-shade boxShade" id="boxThreeShade">
              <div class="boxWord" id="boxThreeWord">Service</div>
            </div>
          </div>
          <div class="info-box-content">
            <div>
              Next-level service.
            </div>
            <div>
              Mindhome robots take care of you and your home every day, all day. Whether it is serving you a drink, cooking you dinner, mopping your floors or dusting your surfaces, the Mindhome Robot bundle is unprecedented human decadence. Bring your life to the next level by letting your robotic home of the future serve you today!
            </div>
          </div>
        </div>
        <div class="info-box info-full-box" id="box5">
          <div class="info-box-shade boxShade" id="boxFiveShade">
            <div class="boxWord" id="boxFiveWord">Network</div>
          </div>
          <div class="box-title-center">
            Your unmatched network
          </div>
          <div class="box-content-center">
            Mindhome's blazing fast 5G technologies completely change the game: mesh network throughout the home with gigabit and faster speeds, wireless charging for all of your electronics, and we are powered by the world's largest and only fully blockchain-enabled 5G LoRa network.
          </div>
        </div>
        <div class="info-box info-box" id="box6">
          <div class="info-box-content">
            <div>
              Health and wellness
            </div>
            <div>
              Mindhome regulates your health 24/7/365 with the largest suite of wellness devices including automated pill dispensers, water and air quality sensors, water filters and air purifiers. Best of all our robot was custom built to help elderly and injured patients thrive on their own.
            </div>
          </div>
          <div class="info-box-image">
            <div class="info-box-shade boxShade" id="boxSixShade">
              <div class="boxWord" id="boxSixWord">Health & Wellness</div>
            </div>
          </div>
        </div>
      </div>
<!--       <div class="learn-more-bttn">
        <div>learn more</div>
      </div> -->
  	</div>
  <div class="index-section index-section-3">
    <div>
      <div class="connect-title">LETS STAY CONNECTED</div>
      <div class="subscribe-title">SUBSCRIBE FOR THE LATEST UPDATES</div>
      <input type="text" placeholder="Email" />
    </div>
    <div>
      <div class="right-content">
        <div>
          HAVE A QUESTION?
        </div>
        <div>
          Enter your contact information and we'll reach out to you as soon as possible
        </div>
        <input type="text" placeholder="Email" />
        <textarea placeholder="What's your question?"></textarea>
        <input class="bttn" type="submit" value="SUBMIT" />
      </div>
    </div>
  </div>
</div>
<script>

  // this code scroll animation
  let checkHeight = (boxId,boxWord,windowTop,windowHeight,useStatus,boxShade) => {
    let boxTopReal = $(boxId).offset().top;
    let boxTop = Math.round(boxTopReal);
    let meetWindowTop = Math.round(windowTop + (windowHeight * 0.75));
    if (meetWindowTop >= boxTop) {
      if (boxId == "#box1") {
        oneIsUsed = true;
//         $(boxId).css('background-color','lightblue');
//         $(boxWord).css('color','rgba(0,0,0,1)');
        $(boxShade).css('animation-play-state','running');
        $(boxWord).css('animation-play-state','running');
      };
      if (boxId == "#box2") {
        twoIsUsed = true;
        $(boxShade).css('animation-play-state','running');
        $(boxWord).css('animation-play-state','running');
      };
      if (boxId == "#box3") {
        threeIsUsed = true;
        $(boxShade).css('animation-play-state','running');
        $(boxWord).css('animation-play-state','running');
      };
      if (boxId == "#box4") {
        fourIsUsed = true;
        $(boxShade).css('animation-play-state','running');
        $(boxWord).css('animation-play-state','running');
      };
      if (boxId == "#box5") {
        fiveIsUsed = true;
        $(boxShade).css('animation-play-state','running');
        $(boxWord).css('animation-play-state','running');
      };
      if (boxId == "#box6") {
        sixIsUsed = true;
        $(boxShade).css('animation-play-state','running');
        $(boxWord).css('animation-play-state','running');
      };
      console.log(boxTop);
//       $(boxId).css('background-color','red');
    };
  };
  
  let oneIsUsed = false;
  let twoIsUsed = false;
  let threeIsUsed = false;
  let fourIsUsed = false;
  let fiveIsUsed = false;
  let sixIsUsed = false;
  
  // this code scroll animation
  document.addEventListener('scroll',()=>{
    let currentWidth = $(window).outerWidth();
  	console.log(currentWidth);
    if (currentWidth < 1000) {
      let top = $(window).scrollTop();
      let height = $(window).outerHeight();
      if (oneIsUsed == false) {
        checkHeight("#box1","#boxOneWord",top,height,oneIsUsed,"#boxOneShade");
      };
      if (twoIsUsed == false) {
        checkHeight("#box2","#boxTwoWord",top,height,twoIsUsed,"#boxTwoShade");
      };
      if (threeIsUsed == false) {
        checkHeight("#box3","#boxThreeWord",top,height,threeIsUsed,"#boxThreeShade");
      };
      if (fourIsUsed == false) {
        checkHeight("#box4","#boxFourWord",top,height,fourIsUsed,"#boxFourShade");
      };
      if (fiveIsUsed == false) {
        checkHeight("#box5","#boxFiveWord",top,height,fiveIsUsed,"#boxFiveShade");
      };
      if (sixIsUsed == false) {
        checkHeight("#box6","#boxSixWord",top,height,sixIsUsed,"#boxSixShade");
      };
  	};
  })
</script>
